.rute {
    position: absolute;
    top: 250px;
} 

.rute u, .rute div {
    position: relative;
    left: 270px;
    top: -222px;
    line-height: 1.7rem;
}

.totavstand {
    position: absolute;
    top: 100px;;
}

u {
    font-size: large;
}

#img-kart {
    position: absolute;
    top: 320px;
    width: 500px;
}