/*  Kode hentet fra Informasjonsteknologi 2, Aschehoug Undervisning 
	Modifisert av Håvard Solberg Nybøe  */

body {
  background-color: whitesmoke;
  font-family: "Century Gothic", Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* klasse til div element */
.innpakning {
  text-align: left;
  width: 30%;
  margin: auto;
}

/*  Først angir vi for input, textarea og select:
 *  kantlinje, skygge, skriftfarge, */
input[type="text"], 
input[type="number"], 
input[type="email"],
input[type="password"],
textarea, 
select {
  font-family: inherit; /* arver nettsidens skrifttype */
  color: #666666; /* mørk grå tekstfarge */
  border: 1px solid rgba(0,0,0,0.1); /* lys grå kantlinje */
  border-radius: 4px; /* avrundet kantlinje */
  padding: 5px; /* luft inni tekstboksene */
  box-shadow: 0 1px 1px rgba(0,0,0,0.4); /* skygge på tekstboksene */
  box-sizing: border-box; /* teller med kantlinjen i bredden */
  margin-top: 2px; /* litt mellomrom til elementet ovenfor */
  margin-bottom: 10px; /* litt mellomrom til elementet nedenfor */
}

/* tekstboks, nummerboks, emailboks, passordboks, select-tag, textarea-tag  */ 
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"], 
select,
textarea
{
  min-width: 130px; /* aldri smalere enn 130 px */
}

/* knapper */
input[type="button"], button {
  font-family: inherit;
  padding: 8px; /* luft inni knappen */
  color: black; /* sort tekstfarge */
  border: 1px solid rgba(120, 120, 120, 0.4); /* lys grå kantlinje */
  border-radius: 4px; /* avrunder kantene */
  background-color: #e7e7e7; /* grå bakgrunnsfarge */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); /* skygge bak knappen */
  outline: none; /* fjerne ekstra kantlinje */
  cursor: pointer; /* gjør om musepekeren til en hånd */
}

input[type="button"]:hover, button:hover {
  border: 1px solid #5196db;
}

input[type="button"]:active, button:active {
  transform: translate(1px, 1px); /* 1 px til høyre og 1 px ned */
}
